
<div class = 'jumbotron' style = 'padding: 70px'>
<h1>Parking Log Application Demo</h1>
<p>by Team Incognito | Teiwaz</p>

<a href= "/car_logs"> <button type="button" class="btn btn-lg btn-primary">View Car Log</button></a>
<a href= "/make"> <button type="button" class="btn btn-lg btn-primary">Create New Slot</button> </a>
</div>

